[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
pandas = "*"
scrapy = "*"
jupyterlab = "*"
keras = "*"
tqdm = "*"
ipywidgets = "*"
pillow = "==5.4.1"
nb-black = "*"
annoy = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
pytorch-pretrained-bert = "*"
bert-serving-server = "*"
bert-serving-client = "*"
gensim = "*"
tensorflow = "==1.13.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
