[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
pandas = "*"
scrapy = "*"
jupyterlab = "==1.0.0rc0"
keras = "*"
tqdm = "*"
ipywidgets = "*"
pillow = "==5.4.1"
nb-black = "*"
annoy = "*"
torch = "==1.1.0"
torchvision = "*"
matplotlib = "*"
pytorch-pretrained-bert = "*"
gensim = "*"
spacy = "*"
nltk = "*"
sklearn = "*"
numpy = "*"
altair = "*"
rise = "*"
skorch = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
